# My first jupyter notebook

import libraries

In [2]:
import numpy as np
import pandas as pd

## import sample data from file

In [3]:
df = pd.read_csv('Data/data.csv')
df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com